*{
margin:0;
padding:0;
box-sizing:border-box;
}
 header {
      background-color: white;
      margin-bottom:20px;
  }
  a {
     
  }
  li a:hover{
      background-color: grey;
  }
  li {
      float: left;
  }
  li a {
      display: block;
      padding: 10px;
      background-color: black;
      text-align: center;
      text-decoration: none;
      color: white;
  }
 ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     overflow: auto;
     background-color: black;
    
 }
  h2{
      color: black;
  }  
  
  article {
      border: 1px solid black;
      border-radius: 10px;
      margin:10px;
      padding: 5px;
      background-color: grey;
      color: white;
  }
  body{
      background-color: black;
      color: white;
      margin: 0px;
  }
  p{
      padding-left: 10px;
      padding-right: 10px;
  }
  img {
      padding: 10px;
      border-radius: 20px;
  }
  h1 {
      text-align: center;
  }
  footer{
      padding:20px;
      background-color: white;
      color: black;
 }